.extra-components {
	position: relative;
	z-index: var(--ui-index-1);
	margin: 60px 0 40px;

	@include sm {
		margin: 40px 0 30px;
	}

	&__title {
		color: var(--primary);
		text-align: center;

		span {
			display: block;
			color: var(--fc-dark);
		}
	}

	&__text {
		max-width: 1000px;
		margin: 40px auto 0;
		font-size: 14px;
		text-align: center;

		@include hg {
			margin: 20px auto 0;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;
		margin-top: 40px;

		@include sm {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 20px;
		min-height: 350px;
		padding: 50px 60px;
		background: var(--bg-primary) no-repeat 50% / cover;

		@include hg {
			min-height: 300px;
		}

		@include lg {
			padding: 40px 30px;
		}

		@include md {
			min-height: 250px;
		}

		@include sm {
			min-height: 350px;
		}

		@include xs {
			align-items: center;
			min-height: auto;
		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 60%;
			height: 100%;
			background: linear-gradient(to right, #fff 0%, #fff 60px, rgba(#fff, 0) 100%);
			content: "";

			@include xs {
				width: 100%;
				background: rgba(#fff, 0.8);
			}
		}
	}

	&__item-label,
	&__item-text {
		position: relative;
		z-index: var(--ui-index-1);
		max-width: 220px;

		@include xs {
			max-width: 300px;
			text-align: center;
		}
	}

	&__item-label {
		color: var(--primary);
		font-weight: 700;
		font-size: 20px;
		font-family: var(--font-secondary);

		@include sm {
			font-size: 18px;
		}

		@include xs {
			font-size: 16px;
		}
	}

	&__item-text {
		font-size: 14px;
	}
}
