.faq {
	position: relative;
	padding: 160px 0;
	overflow: hidden;
	background: url(assets/images/clouds-bg.png) no-repeat 50% / auto 100%;

	@include sm {
		padding: 100px 0;
		// background-position: 50% bottom;
		// background-size: auto calc(100% - 100px);
	}

	@include sm {
		margin: 30px 0;
		padding: 0;
	}

	&::before {
		position: absolute;
		top: -180px;
		left: 50px;
		width: 1000px;
		height: auto;
		aspect-ratio: 1/1;
		background: url(assets/images/leaf-bg.png) no-repeat 50% / contain;
		transform: rotate(135deg);
		content: "";

		@include lg {
			top: 65%;
			left: 50%;
			width: 850px;
			transform: translate(-50%, -50%) rotate(135deg);
		}

		@include sm {
			width: 600px;
		}

		@include xs {
			width: 450px;
		}
	}

	&__title {
		max-width: 950px;
		margin: 0 auto;
		color: var(--primary);
		text-align: center;

		span {
			color: var(--fc-dark);
		}
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px 160px;
		max-width: 860px;
		margin: 60px auto 0;

		@include md {
			gap: 10px 40px;
			max-width: none;
			margin: 30px auto 0;
		}

		@include sm {
			grid-template-columns: 1fr;
			margin: 20px 0 0;
		}
	}

	&__item {
		height: fit-content;
		padding: 10px 15px;
		background: rgba(#ebebeb, 0.8);
		border-radius: 5px;
		transition: var(--transition);

		&.active {
			background: rgba(#e50040, 0.2);
		}
	}

	&__item-button {
		display: flex;
		gap: 20px;
		align-items: center;
		width: 100%;
		padding: 0;
		font-size: 16px;
		font-family: var(--font-primary);
		line-height: 1;
		background: none;
		border: none;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		-webkit-tap-highlight-color: transparent;

		&.active {

			+ .faq__item-answer {
				margin: 10px 0 15px;
			}
		}
	}

	&__item-icon {
		color: var(--primary);
		font-size: 32px;
	}

	&__item-answer {
		max-height: 0;
		padding-left: 35px;
		overflow: hidden;
		font-size: 14px;
		font-style: italic;
		transition: var(--transition);
	}
}
