.main-form {
	max-width: 500px;

	&__text {
		font-size: 24px;
		font-family: var(--font-secondary);

		@include hg {
			font-size: 20px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 25px;
		max-width: 330px;
		margin-top: 40px;

		@include hg {
			gap: 20px;
			margin-top: 20px;
		}
	}

	&__file {
		position: relative;
		display: block;
		width: 100%;
		color: var(--secondary);
		font-family: var(--font-secondary);
		border: 4px dashed var(--secondary);
		border-radius: 5px;

		&::after {
			position: absolute;
			top: 50%;
			right: 15px;
			width: 30px;
			height: auto;
			aspect-ratio: 3/4;
			background: url(assets/images/icon-file.png) no-repeat 50% / contain;
			transform: translateY(-50%);
			content: "";
			pointer-events: none;
		}

		input {
			display: none;
			appearance: none;
		}

		label {
			display: block;
			width: 100%;
			min-height: 45px;
			padding: 15px 50px 15px 15px;
			background: #fff;
			background-origin: padding-box;
			border-radius: 5px;
		}
	}

	&__submit {
		width: 100%;
		margin-top: 20px;
		font-weight: 700;
		font-family: var(--font-secondary);
	}

	&__policy {
		align-self: center;
		margin-top: -15px;
		font-size: 12px;
		text-align: center;

		@include hg {
			margin-top: -10px;
		}

		a {
			@include ui-link(var(--primary));
		}
	}
}
