.quiz {
	position: relative;
	margin: 60px 0 40px;
	overflow: hidden;

	@include sm {
		margin: 40px 0 30px;
	}

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		max-width: 1000px;
		height: auto;
		aspect-ratio: 1/1;
		background: url(assets/images/leaf-bg.png) no-repeat 50% / contain;
		transform: translate(-50%, -50%) rotate(115deg);
		content: "";

		@include md {
			max-width: 800px;
		}
	}

	&__title {
		max-width: 950px;
		margin: 0 auto;
		text-align: center;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 30px;
		min-height: 580px;
		margin-top: 50px;
		padding: 25px 15px;
		overflow: hidden;
		background: rgba(#d9d9d9, 0.5);
		border-radius: 10px;

		@include hg {
			gap: 20px;
			margin-top: 30px;
		}

		@include sm {
			min-height: auto;
		}
	}

	&__pagination.swiper-pagination-horizontal {
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		display: flex;
		gap: 60px;
		align-items: center;
		justify-content: center;
		width: fit-content;
		margin: 0 auto;
		counter-reset: quiz-counter 0;

		@include hg {
			gap: 40px;
		}

		@include xs {
			gap: 20px;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 6px;
			background: var(--primary);
			transform: translateY(-50%);
			content: "";

			@include sm {
				height: 4px;
			}
		}
	}

	&__pagination-bullet {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: auto;
		aspect-ratio: 1/1;
		background: var(--primary);
		border-radius: 50%;
		counter-increment: quiz-counter 1;

		@include sm {
			width: 30px;
		}

		@include xs {
			width: 20px;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			color: var(--fc-light);
			font-size: 28px;
			line-height: 1;
			transform: translate(-50%, -50%);
			content: counter(quiz-counter);

			@include sm {
				font-size: 22px;
			}

			@include xs {
				font-size: 14px;
			}
		}

		&.active {

			&::before {
				width: 20px;
				height: auto;
				aspect-ratio: 1/1;
				background: var(--fc-light);
				border-radius: 50%;
				content: "";

				@include sm {
					width: 15px;
				}

				@include xs {
					width: 10px;
				}
			}
		}
	}

	&__slide {
		display: flex;
		align-items: center;
		justify-content: center;
		height: auto;
	}

	&__slide-wrapper {
		display: flex;
		flex-direction: column;
		gap: 10px;
		max-width: 360px;
		margin: 0 auto;
	}

	&__slide-img {
		display: flex;
		align-items: center;
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;
		overflow: hidden;
		border-radius: 10px;

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	&__slide-question {
		color: var(--primary);
		font-size: 20px;
	}

	&__slide-options {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__panel {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: center;
		margin-top: auto;
	}

	&__prev,
	&__next {

		&.swiper-button-disabled {
			display: none;
		}

		svg {
			color: var(--fc-light);

			@include sm {
				width: 30px;
				height: auto;
			}
		}
	}
}
