.window-tabs {
	position: relative;
	margin: 60px 0 40px;

	@include sm {
		margin: 40px 0 30px;
	}

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 800px;
		height: auto;
		aspect-ratio: 1/1;
		background: url(assets/images/leaf-bg.png) no-repeat 50% / contain;
		transform: translate(-50%, -50%);
		content: "";

		@include hg {
			width: calc(100% - 1.5rem);
			max-width: 600px;
		}

		@include xs {
			max-width: 400px;
		}
	}

	&__title {
		max-width: 950px;
		margin: 0 auto;
		color: var(--primary);
		text-align: center;

		span {
			display: block;
			color: var(--fc-dark);
		}
	}

	&__box {
		margin-top: 50px;
		background: rgba(#fff, 0.8);

		@include md {
			margin-top: 30px;
		}

		@include xs {
			margin-top: 20px;
		}
	}

	&__tabs-list {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		align-items: center;
	}

	&__tab-item {
		width: fit-content;
		padding: 20px 15px;
		color: var(--fc-light);
		text-transform: uppercase;
		background: var(--primary);
		border-radius: 5px;
		cursor: pointer;
		transition: var(--transition);

		@include xs {
			padding: 15px 10px;
			font-size: 14px;
		}

		&.active {
			color: var(--fc-dark);
			background: transparent;
			cursor: default;
		}
	}

	&__tab {
		display: none;
		margin-top: 35px;

		@include md {
			margin-top: 20px;
		}

		&.active {
			display: block;
		}
	}

	&__tab-content {
		display: flex;
		gap: 100px;
		align-items: center;

		@include lg {
			gap: 60px;
		}

		@include sm {
			gap: 30px;
		}

		@include xs {
			flex-direction: column;
		}
	}

	&__tab-img {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 500px;
		height: 500px;

		@include hg {
			height: 400px;
		}

		@include sm {
			flex: 1 0 250px;
			max-width: 300px;
			height: 250px;
		}

		@include xs {
			flex: 0 1 auto;
			max-width: 400px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__tab-info {
		display: flex;
		flex-direction: column;
		gap: 130px;

		@include hg {
			gap: 60px;
		}

		@include xs {
			gap: 40px;
		}
	}

	&__tab-characteristics {
		gap: 15px;
	}

	&__tab-characteristic {
		text-shadow: var(--shadow);
	}

	&__tab-price {
		font-size: 24px;

		@include xs {
			text-align: center;
		}

		span {
			color: var(--primary);
		}
	}

	&__tab-btns {
		display: flex;
		flex-wrap: wrap;
		gap: 15px 25px;
		align-items: center;
		justify-content: center;
		margin-top: 40px;
		font-weight: 700;
		font-family: var(--font-secondary);

		@include xs {
			margin-top: 20px;
		}
	}

	&__tab-measurement {
		background: var(--secondary);
	}
}
